html,
body {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  line-height: 1.4;
  font-size: 16px;
  color: #002f2f;
  background-color: #faf9ef;
  overflow-x: hidden;
}

body.overflow-hidden {
  overflow: hidden !important;
}

a {
  transition: all .3s;
}

input,
textarea,
button {
  outline: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background-color: #002f2f;
  color: #FFF;
  padding: 18px 0;
}

.header-wrapper {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin: 0 auto;
  padding: 0 50px;
}

.header-wrapper-left {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.logo {
  margin-right: 115px;
}

.logo img {
  max-width: 200px;
  max-height: 200px;
}

.hamburger {
  width: 25px;
  display: none;
}

.hamburger span {
  background-color: #FFF;
  display: block;
  height: 3px;
  margin: 8px 0;
  border-radius: 4px;
  position: relative;
  transition: inherit;
}

.hamburger span:after, .hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #FFF;
  border-radius: 4px;
  transition: inherit;
}

.hamburger span:after {
  top: -7px;
}

.hamburger span:before {
  bottom: -7px;
}

.hamburger:hover span, .hamburger:focus span {
  background-color: #999999;
}

.hamburger:hover span:after, .hamburger:hover span:before, .hamburger:focus span:after, .hamburger:focus span:before {
  background-color: #999999;
}

.navigation {
  position: relative;
}

.navigation__close {
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all .3s;
}

.navigation__close:after, .navigation__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: #FFF;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-radius: 4px;
  transition: inherit;
}

.navigation__close:after {
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
          transform: rotate(-45deg) translate(-50%, -50%);
}

.navigation__close:hover, .navigation__close:focus {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation__close:hover:after, .navigation__close:hover:before, .navigation__close:focus:after, .navigation__close:focus:before {
  background-color: #b3b3b3;
}

.navigation__close:active:after, .navigation__close:active:before {
  background-color: #999999;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.nav li {
  display: inline-block;
  margin-right: 30px;
}

.nav li a {
  text-decoration: none;
  color: #FFF;
  display: inline-block;
}

.nav li a:hover {
  color: #cccccc;
}

.nav li a:focus {
  color: #a6a6a6;
}

.nav li a:active {
  color: #999999;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.header-phone__link {
  color: #FFF;
  text-decoration: none;
  font-size: 29px;
  display: inline-block;
  position: relative;
}

.header-phone__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: gray;
  transition: inherit;
}

.header-phone__link:hover {
  color: #cccccc;
}

.header-phone__link:hover:after {
  width: 100%;
}

.header-phone__link:focus {
  color: #a6a6a6;
}

.header-phone__link:active {
  color: #999999;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.header-phone__text {
  margin: 0;
  font-size: 17px;
}

.footer-content {
  background-color: #046380;
  color: #FFF;
  padding: 50px 100px 50px 50px;
  border-radius: 4px 4px 0 0;
}

.time-buy {
  float: left;
}

.time-buy__title {
  margin: 0 0 10px 0;
  font-size: 34px;
  font-weight: 600;
}

.time-buy__text {
  margin: 0;
}

.subscribe {
  float: right;
  display: flex;
  display: -ms-flexbox;
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
}

.subscribe__box {
  width: 320px;
  max-width: 100%;
  margin-right: 50px;
}

.subscribe__input {
  width: 100%;
  height: 46px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
  transition: all .3s;
}

.subscribe__input:hover {
  border-color: #a7a37e;
}

.subscribe__input:focus {
  border-color: #a7a37e;
}

.subscribe__checkbox {
  cursor: pointer;
}

.subscribe__submit {
  width: 220px;
  border: none;
  color: #FFF;
  background-color: #a7a37e;
  height: 46px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s;
}

.subscribe__submit:hover, .subscribe__submit:focus {
  background-color: #9f9a72;
}

.subscribe__submit:active {
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
  background-color: #908b62;
}

.checkbox {
  cursor: pointer;
  position: relative;
}

.checkbox__input {
  width: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.checkbox__input:checked ~ span:after {
  display: block;
}

.checkbox__fake {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 4px;
  position: relative;
  top: 3px;
  margin-right: 5px;
  color: #000;
}

.checkbox__fake:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/icons/check.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}

.to-top {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-image: url(../images/icons/to-top.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  cursor: pointer;
  transition: all .8s;
  display: inline-block;
  z-index: 9;
}

.to-top:hover, .to-top:focus {
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

.to-top:active {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.to-top.hide {
  opacity: 0;
  bottom: -100px;
}

.content {
  padding-top: 60px;
  display: block;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  margin: 0 0 60px 0;
  padding-left: 100px;
  font-size: 48px;
  line-height: 1.2;
}

.products-wrap {
  background-color: #FFF;
  padding: 30px 100px 70px 100px;
  border-radius: 4px;
  margin-bottom: 70px;
}

.sorting {
  margin-bottom: 40px;
}

.sorting__text {
  display: inline-block;
  margin-right: 10px;
}

.sorting__variable {
  margin: 0 20px 0 0;
  padding: 0;
  cursor: pointer;
}

.sorting__radio {
  width: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
}

.sorting__radio:checked ~ span {
  color: #000;
  border-bottom-color: #000;
}

.sorting__radio:checked ~ span:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: center;
}

.sorting__value {
  position: relative;
  margin-right: 27px;
  border-bottom: 1px dotted transparent;
  transition: all .3s;
}

.sorting__value:after {
  content: "\276E";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  background-color: #f5f8f8;
  transition: all .3s;
  position: absolute;
  top: 1px;
  right: -27px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  transition: all .3s;
}

.sorting__value:hover {
  color: #000;
}

.sorting__value:hover:after {
  background-color: #d7e3e3;
}

.sorting__value:active:after {
  background-color: #b9cece;
}

.products {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: 0 -25px;
}

.product-wrap {
  width: 33.33%;
  padding: 0 25px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.product {
  position: relative;
  border: 1px solid #002f2f;
  border-radius: 3px;
  overflow: hidden;
  max-width: 325px;
  margin: 0 auto;
}

.product-booked {
  border-color: #a7a37e;
}

.product-booked .product__status {
  background-color: #a7a37e;
  font-weight: 600;
}

.product-sales {
  border-color: #a1a1a1;
}

.product-sales .product__status {
  background-color: #a1a1a1;
  font-weight: 600;
}

.product__elected {
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url(../images/icons/star.png);
  width: 19px;
  height: 18px;
  background-position: -2px -2px;
  cursor: pointer;
}

.product__elected-selected {
  background-position: -25px -2px;
}

.product__elected:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-position: -25px -2px;
  opacity: 0;
  transition: all .3s;
}

.product__elected:hover:after {
  opacity: .4;
}

.product__sale {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  color: #FFF;
  text-transform: uppercase;
}

.product__sale span {
  background-color: #ff4444;
  margin-right: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: default;
}

.product__content {
  padding: 50px 50px 0 50px;
}

.product__img {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  height: 200px;
  margin-bottom: 40px;
}

.product__img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.product__name {
  margin: 0 0 20px 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
  height: 63px;
  overflow: hidden;
  -moz-hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
}

.product__prop {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  margin-bottom: 30px;
}

.product__decor {
  width: 70px;
  padding-left: 10px;
  color: #046380;
  position: relative;
  margin: 0;
}

.product__decor:after {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 0;
  width: 3px;
  background-color: #046380;
  border-radius: 5px;
}

.product__prop-value {
  margin: 0;
  font-size: 13px;
}

.product__prop-value span {
  font-size: 18px;
}

.product__price {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 600;
}

.product__status {
  text-transform: uppercase;
  text-align: center;
  background-color: #002f2f;
  display: block;
  color: #FFF;
  line-height: 35px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: default;
}

.product__status p {
  margin: 0;
}

.product-load-more {
  text-align: center;
  line-height: 70px;
  background-color: #046380;
  margin: 0 auto;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  display: block;
  max-width: 530px;
  width: 100%;
  cursor: pointer;
  transition: all .3s;
}

.product-load-more:hover, .product-load-more:focus {
  background-color: #03546c;
}

.product-load-more:active {
  background-color: #034c62;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

@media screen and (max-width: 1366px) {
  .header {
    padding: 10px 0;
  }
  .logo {
    margin-right: 50px;
  }
  .nav {
    font-size: 16px;
  }
  .header-phone__link {
    font-size: 24px;
  }
  .header-phone__text {
    font-size: 14px;
  }
  .title {
    font-size: 42px;
    padding-left: 60px;
  }
  .to-top {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    font-size: 14px;
  }
  .nav li {
    margin-right: 15px;
  }
  .products-wrap {
    padding: 30px 40px 70px 40px;
  }
  .product__content {
    padding: 40px 20px 0 20px;
  }
  .footer-content {
    padding: 20px 50px 40px 50px;
  }
  .time-buy {
    float: none;
    margin-bottom: 30px;
  }
  .time-buy__title {
    margin-bottom: 0;
  }
  .subscribe {
    float: none;
  }
  .to-top {
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 992px) {
  .navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 10;
    padding: 50px 20px 20px 30px;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.8);
  }
  .navigation__close {
    display: block;
  }
  .nav {
    border-left: 2px solid #FFF;
    padding: 10px 0 10px 20px;
    font-size: 16px;
  }
  .nav li {
    display: block;
    margin-bottom: 10px;
  }
  .nav li:last-child {
    margin-bottom: 0;
  }
  .nav li a {
    display: inline-block;
  }
  .nav li a:hover {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  .hamburger {
    display: block;
  }
  .logo {
    margin-right: 0;
  }
  .product-wrap {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .header-phone__link {
    font-size: 20px;
  }
  .title {
    font-size: 36px;
    padding-left: 30px;
  }
  .products {
    margin: 0 -15px;
  }
  .products-wrap {
    padding: 30px 30px 70px 30px;
  }
  .product-wrap {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .product__content {
    padding: 30px 15px 0 15px;
  }
  .product__sale {
    top: 8px;
    left: 5px;
  }
  .product__elected {
    top: 7px;
    right: 7px;
  }
  .product__img {
    margin-bottom: 20px;
  }
  .product__name {
    margin-bottom: 10px;
  }
  .product__prop {
    margin-bottom: 10px;
  }
  .product-load-more {
    margin-top: 30px;
    line-height: 50px;
  }
}

@media screen and (max-width: 576px) {
  .header-wrapper {
    padding: 0 20px;
  }
  .navigation {
    right: 0;
  }
  .title {
    font-size: 36px;
    padding-left: 30px;
  }
  .sorting__text {
    display: block;
    margin: 0 0 10px 0;
  }
  .product-wrap {
    width: 100%;
  }
  .time-buy__title {
    font-size: 30px;
  }
  .subscribe {
    display: block;
  }
  .subscribe__box {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .subscribe__submit {
    width: 320px;
    max-width: 100%;
  }
}
